@font-face {
    font-family: "Theano Didot Regular";
    src: url("fonts/TheanoDidot-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PantonLight';
    src: url('fonts/Panton-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Panton-Regular.woff') format('woff');
}

#box {
    box-shadow: 21px 37px 150px 0px rgba(8, 8, 8, 0.43);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.horizontal-line {
    width: 100%;
    height: 0.075em;
    background-color: black;
}

.horizontal-line-small {
    width: 100%;
    height: 0.05em;
    background-color: black;
}

#title {
    font-family: "Theano Didot Regular";
    color: #11100e;
    font-size: 3em;
    font-weight: 400;
    transform: scaleY(1.1379); /* właściwości width (szerokość) i height (wysokość) pominięte w wyniku transformacji */
    margin-bottom: -0.25em;
}

#sub-title {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-family: 'PantonLight';
    font-size: 1.3em;
    text-align: center;
}

#catch-phrase {
    margin-top: 0.25em;
    font-family: 'Theano Didot Regular';
    color: #373328;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
}

.name-of-menu {
    font-family: 'PantonLight';
    text-transform: uppercase;
    width: 530px;
    height: 77px;
    color: #060505;
    font-size: 44.29px; /* Przybliżenie (wynika z podstawienia czcionki)*/
    background-color: #89b19b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.name-of-menu span {
    position: relative;
    top: 4px;
}

.course-type {
    font-family: "Theano Didot Regular";
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
}

.course-name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.7em;
    font-style: italic;
    font-family: "PantonLight";
    font-weight: 200;
    text-transform: uppercase;
    word-wrap: break-word;
}

.ingredients-title {
    margin-top: 0.5em;
    font-style: italic;
    font-family: "Panton";
    font-size: 0.5em;
    text-transform: uppercase;
}

.ingredients {
    font-style: italic;
    font-family: "PantonLight";
    font-size: 0.5em;
    text-transform: uppercase;
    word-wrap: break-word;
}

.black-space {
    height: 0.3cm;
    background-color: black;
}

/* SPADY */
#box {
    padding: 0.3cm 0.3cm 0 0.3cm;
    position: relative;
}

.black-space {
    padding-bottom: 0.3cm;
    margin-left: -0.3cm;
    margin-right: -0.3cm;
}

.bleed-mark-left-top-corner, .bleed-mark-right-bottom-corner,
.bleed-mark-left-bottom-corner, .bleed-mark-right-top-corner {
    position: absolute;
    height: 0.3cm;
    width: 0.3cm;
}

.bleed-mark-left-top-corner {
    left: 0;
    top: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.bleed-mark-left-bottom-corner {
    left: 0;
    bottom: 0;
    color: white;
    border-right: 1px solid;
    border-top: 1px solid;
}

.bleed-mark-right-bottom-corner {
    right: 0;
    bottom: 0;
    color: white;
    border-left: 1px solid;
    border-top: 1px solid;
}

.bleed-mark-right-top-corner {
    right: 0;
    top: 0;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

/* SPADY - END */